*~
/.project
package-lock.json
notebook.sh
.fuse*
nohup.out
Queries.ipynb
.ipynb_checkpoints/
node_modules/
*.bkp
*.pyc
.project
.pydevproject
leiame.txt
docs/_build/*
docs/static/*
docs/templates/*
.idea/*
.DS_Store
/media/*
bin/
include/
lib/
lib64
share/
cache/
pyvenv.cfg
.vscode/
bin/
.idea/
